.main-div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 40px;
    
}

.ad-img > img {
    height: 200px;
    width: 200px;
    /*border: 10px solid yellow;*/
}


.Hero-section {
    display: flex;
    width: 100%;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px;
    flex-wrap: wrap;
    
}
.Headline {
  flex: 2;
  background-color: #F5F6F8 ;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid blanchedalmond;
  min-width: 200px;
  justify-content: center;
  
}
.ad-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #F5F6F8 ;
     margin-right: auto;
     border-radius: 10px;
   border: 3px solid blanchedalmond;
   min-width: 200px;
}
.para1 {
    margin-bottom: 70px;
    padding: 0;
}



.button11 {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #4F73B8; 
    color: white;
}

.button12 {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #E26A3A;
    color: white;
}

.achievements {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    width: 100%;
    margin-bottom: 40px;
    flex-wrap: wrap;
    flex: 1;
}
.achievements > .Projects  {
    background-color:#F5F6F8 ;
    min-width: 210px;
    border-radius: 100px;
    padding: 5px;
    border: 3px solid salmon;
    min-width: 200px;
}
.achievements > .Projects p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.course-cards {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 3rem;
    flex-wrap: wrap;
}
.title {
    display: flex;
    flex-direction: column;
    background-color:aqua ;
    padding: 0px;;
    border-radius: 10px;
    min-width: 200px;
}
.h2 {
    width: 100%;
    padding: 0px;
    margin: 0;
    background-color: #E26A3A;
    border-radius: 10px;
}
.Beginner {
    background-color: #3F5D7D;
}

.Intermediate {
    background-color: #3E6F6C;
}
.Advanced {
    background-color: #2F4561;
}
.h2 > h2{
    color: white;
}
.title > p { 
    padding: 0px 10px;
}
.features > ul {
    list-style: none;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: left;  
}

.title > .button {
    padding-bottom: 10px;
}

.title > .button button {
    background-color: #E26A3A;
    padding: 10px;
    min-width: 130px;
    min-height: 50px;
    border-radius: 10px;
    color: white;
}